@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4" style="color:midnightblue">TOY STORE</h1>
    <p style="color:cornflowerblue">Welcome</p>
</div>
